@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rajdhani:wght@300;400;500;600;700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Space+Grotesk:wght@300..700&display=swap');

/* Asterisk for overriding browser defaults */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generic body styles */
body {
    background-color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', Rajdhani, sans-serif;
}

/* Header styles */
header {
    background-color: darkgrey;
    position: fixed;
    padding-left: 3%;
    box-shadow: 0 2px 2px darkgray;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    z-index: 99;
}

header a {
    text-decoration: none;
}

h1 {
    font-family: 'Space Grotesk', sans-serif;
    color: black;
    letter-spacing: 10px;
    text-transform: uppercase;
    font-size: 150%;
    /*padding: 3% 3%;*/
    text-align: center;
}

#main-menu {
    font-family: 'Rajdhani', sans-serif;
    letter-spacing: 5px;
    list-style-type: none;
}

#main-menu li {
    margin-bottom: 1em;
}

.active {
    color: darkred;
    font-weight: bolder;
    text-decoration: underline;
    font-size: larger;
}

nav {
    position: absolute;
    padding-left: 3%;
    padding-top: 2%;
    display: none;
    top: 100%;
    background-color: whitesmoke;
    width: 100%;
    left: 0;
}

#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-lable {
    font-size: 2rem;
    padding-right: 3%;
}


nav a {
    text-decoration: none;
    /*color: white;*/
    color: black;
}



/* Main Content styles */
main {
    background-color: white;
    flex: 1 0 auto;
    margin-top: 68px;
}

/* Hero styling */
#hero {
    background-image: url(../img/rocket.jpg);
    width: 100%;
    height: 200px;
    background-position: center;
    background-size: cover;
    position: relative;
}

#hero-text {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    background-color: rgba(255, 95, 0, 0.6);
    /*background-color: rgba(134, 243, 238, 0.6);*/
}

/* main content styling */
h2 {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 300%;
    letter-spacing: 3px;
    color: darkblue;
    font-weight: 300;
}

h3 {
    font-family: 'Rajdhani', sans-serif;
    font-size: 150%;
    text-decoration: underline overline;
}

.center-align {
    padding-left: 130px;
    margin-top: 0.5rem;
}

p {
    font-family: 'Raleway', sans-serif;
    padding-left: 2%;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

#whats-here-list {
    font-family: 'Raleway', sans-serif;
    padding-left: 6%;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    list-style-type: disc;
}

.welcome-images {
    width: 70%;
    height: 70%;
    position: relative;
    padding-left: 5rem;
    border-radius: 20%;
}

.blue-image {
    position: relative;
    border-radius: 20%;
    border: 10px solid rgb(0, 0, 139);
    padding: 3px;
}

#blue-image-alignment {
    left: 7rem;
    width: 60%;
    height: 60%;
}

.red-image {
    position: relative;
    border-radius: 20%;
    border: 10px solid rgb(139, 0, 0);
    padding: 3px;
}

#red-image-alignment {
    left: 1rem;
    width: 60%;
    height: 60%;
}

.orange-image {
    position: relative;
    border-radius: 20%;
    border: 10px solid rgb(255, 95, 0);
    padding: 3px;
}

#orange-image-alignment {
    left: 7rem;
    width: 60%;
    height: 60%;
}

h4 {
    font-size: 130%;
}

.black-background {
    background-color: black;
    color: white;
}

.yellow-background {
    background-color: rgb(246, 190, 0);
}

/* Footer styles */
footer {
    background-color: darkgrey;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

footer a {
    text-decoration: none;
    color: black;
}

#social-media-links {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    padding-top: 2%;
    padding-bottom: 2%;
}

h4 {
    font-family: 'Rajdhani', sans-serif;
    letter-spacing: 5px;
}

.active2 {
    font-weight: bolder;
    text-decoration: underline;
    /*font-size: larger;*/
}


/* styling for larger screens */
@media screen and (min-width: 768px) {

    /* Header */
    nav {
        display: block;
        position: relative;
        width: fit-content;
        padding-right: 2%;
    }

    #main-menu {
        display: flex;
    }

    .nav-toggle-lable {
        display: none;
    }

    /* Main Content */

    main {
        margin-top: 80px;
    }

    /* footer */
}

@media screen and (min-width: 992px) {

    /* header */
    h1 {
        font-size: 250%;
    }

    nav li {
        margin-right: 2%;
    }

    #main-menu a:hover {
        font-size: x-large;
        font-weight: bolder;
    }

    /* Main Content */
    main {
        margin-top: 85px;
    }


    /* footer */

    footer {
        flex-direction: row;
        height: 60px;
        align-content: center;
        align-items: center;
    }

    #social-media-links {
        font-size: x-large;
    }

    #social-media-links li {
        margin-right: 10em;
    }

    .active2 {
        font-size: 120%;
    }


}